SUPABASE_URL=https://uwciggpqeyftepydjzii.supabase.co
SUPABASE_KEY=sb_publishable_--K-0aq-CcMta-9NPsqtmw_Weq-9_aQ
NICEGUI_STORAGE_SECRET=aduanas_libertadores_2026_clave_segura_jordy_928374
NICEGUI_RELOAD=true
